<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet"> <!-- Monospace Font -->
    <title>{% block title %}Simple Flask App{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <!-- Updated Brand section with separate links for 'Believe' and 'in Becoming Employed' -->
        <div class="navbar-brand">
            <!-- Link to YouTube for 'Believe' -->
            <a class="btn btn-primary" href=" https://www.youtube.com/watch?v=olPLvuvMcSE&ab_channel=DRAXTER%2B&t=1m53s" target="_blank">
                <span class="highlight">BELIEVE</span>

            </a>
            <!-- Link to home page for 'in Becoming Employed' -->
            <a class="text-light" href="index.html" style="text-decoration: none;">
                in Becoming Employed
            </a>
        </div>

        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar buttons (Chess, imageScraper, mlNotebooks) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/chess">Chess</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataScraper">imageScraper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/imageScrambler">imageScrambler</a>
                </li>
            </ul>

            <!-- Right-aligned 'About Me' link -->
            <ul class="navbar-nav ms-auto">	
				<li class="nav-item">
					<a class="nav-link" href="/resume">Resume</a>
				</li>
            </ul>
        </div>
    </div>
</nav>
    <main class="container my-4">
	{% block main%}{% endblock %}
    </main>

    <footer class="text-center text-light py-3">
        <p>&copy; Built on Django</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

