{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h1>Welcome to My Portfolio!</h1>
    	<p class="text">On this small website, you will come across a collection of my past and current projects. I hope you enjoy.</p>
        <p class="text"> QUICK UPDATES: </p>
        <ul>
            <li> Chess logic now fully implemented. Works as a simple two player game</li>
            <li> imageScrambler and dataScraper are mostly done, but I plan to keep working on dataScraper a bit more after I finish Chess. </li>
			<li> Currently working on other simple scripts which will be uploaded whenever done if I like them enough</li>
		</ul> 
		<p class="text">P.S. Click on BELIEVE.</p>
	<h2>About Me</h2>
		<p class="text">My name is Luis. I recently graduated from Harvard College with a BA in Computer Science and a minor in Economics. I am currently searching for a position in software developement and/or finance. If you've found this website, you have probably seen my resume, but you can also find it linked above. Rather than go into technical experience, I would rather share some of my interests. </p>
		<p class="text"> Professional Interests:</p>
		<ul>
			<li>Passionate and enthusiastic about ML and AI technologies </li>
			<li>Systems engineering, accredited to the best class I took in university, CS61</li>
			<li>Full stack engineering, preference for backend developement</li>
		</ul>
		<p class="text"> Personal Interests:</p>
		<ul>
			<li>Hobby coding. Building applications that I find interesting or scripts for facilitating repetitive tasks</li>
			<li>I love playing chess, as you've probably already guessed</li>
			<li>Am an avid fantasy reader, currently working though A Song of Ice and Fire </li>
		</ul>
		
{% endblock %}
